body {
  font-family: Inter, sans-serif;
}

/* Navbar */

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 0 10px;
  background-color: #0A2647;
}

.nav-logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: Karla, sans-serif;
  color: #fff;
}

.nav-sections {
  display: flex;
  gap: 10px;
}

nav a {
  color: #fff;
  text-decoration: none;
}

nav a:hover {
  color: rgb(192, 192, 192);
}