html {
  scroll-behavior: smooth;
}

body {
  font-family: Inter, sans-serif;
  box-sizing: border-box;
  background-color: #2C74B3;
}

/* Navbar */

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 0 10px;
  background-color: #0A2647;
}

.nav-logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: Karla, sans-serif;
}

.nav-sections {
  display: flex;
  gap: 10px;
}

nav a {
  color: #fff;
  text-decoration: none;
}

.nav-sections a:hover {
  color: rgb(192, 192, 192);
}

/* Contact Form */
form {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  gap: 10px;
  background-color: #0A2647;
  padding: 10px 0;
  border-radius: 10px;
  margin-top: 10px;
}

.form-input {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
  justify-content: flex-start;
}

form label {
  color: white;
  align-self: flex-start;
}

form input, form textarea {
  width: 100%;
  height: 30px;
  padding: 0 5px;
  background-color: #205295;
  border-radius: 10px;
  border: 1px solid #061b34;
  color: #fff;
}

form textarea {
  resize: vertical;
  min-height: 80px;
  max-height: 400px;
}

::placeholder {
  color: rgba(255, 255, 255, 0.722);
}

/* Form Submit Button */

.btn {
  width: 100px;
  cursor: pointer;
  background-color: #205295;
  border-radius: 10px;
  color: white;
  border: 1px solid #061b34;
}

.btn:hover {
  transform: scale(1.1);
}

.btn:active {
  transform: scale(0.9);
}